html, body {
	height:100%;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.carousel
{
	height:75%;
}

.item,.active,.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

footer {
	margin: 50px 0;
}
